#contact_modal {
    display: none;
}

header {
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
}

.logo {
    height: 50px;
}

body{
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photographer-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 50px;
    box-sizing: border-box;
}

/*presentation photographe*/
.photographer-header article {
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photographer-header article h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 100;
    margin: 0px;
}

.photographer-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer-header article p{
    margin: 20px 0px;
    font-family: 'DM Sans', sans-serif;
}

.photographer-header article p:nth-child(2){
    font-size: 24px;
    color: #901C1C;
}

.photographer-header article p:nth-child(3){
    font-size: 18px;
    color: #525252;
}

/*Medias*/
.medias-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.medias-wrapper article{
    margin-bottom: 20px;
}

.medias-wrapper article img
,.medias-wrapper article video{
    width: 350px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.medias-wrapper article article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.medias-wrapper article p{
    font-family: 'DM Sans', sans-serif;
    color: #901C1C;
    margin: 5px;
}

/*Lightbox*/
.media-modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.lightbox{
    position: absolute;
    display: flex;
    flex-direction: row;
}

.icon_img-article{
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.icon_img-article img{
    margin-right: 30px;
    
}

.chevron_xmark-article {
    display: grid;
    grid-template-rows: 45% 50%;
    padding-top: 10px;
}

.lightbox .media{
    width: 1050px;
    height: 900px;
    margin: 0px;
    object-fit: cover;
}

.close-btn, .left-media, .right-media{
    cursor: pointer;
}

/*Modal*/
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover{
    background-color: #DB8876;
    color: black;
}

#contact_modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.modal header img {
    cursor: pointer;
    margin-bottom: 80px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

form label {
    color: #312E2E;
    font-size: 36px;
    font-family: 'DM Sans', sans-serif;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    box-sizing: border-box;
}

form textarea{
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    resize: none;
    box-sizing: border-box;
}